{% extends "layout.html" %} {% block body %} {% for Course in CourseInfo %}

<!-- Page info -->
<div class="page-info-section set-bg" data-setbg="/static/img/page-bg/2.jpg">
  <div class="container">
    <div class="site-breadcrumb">
      <a href="#">Home</a>
      <span>{{ Course.CCode }}</span>
    </div>
  </div>
</div>
<!-- Page info end -->

<!-- single course section -->
<section class="single-course spad pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 course-list">
        <div class="cl-item">
          <h1>{{ Course.Cname }}</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur. Phasellus sollicitudin et
            nunc eu efficitur. Sed ligula nulla, molestie quis ligula in,
            eleifend rhoncus ipsum. Donec ultrices, sem vel efficitur molestie,
            massa nisl posuere ipsum, ut vulputate mauris ligula a metus. Aenean
            vel congue diam, sed bibendum ipsum. Nunc vulputate aliquet
            tristique. Integer et pellentesque urna. Lorem ipsum dolor sit amet,
            consectetur. Phasellus sollicitudin et nunc eu efficitur. Sed ligula
            nulla, molestie quis ligula in, eleifend rhoncus ipsum.
          </p>
        </div>
        <div class="cl-item">
          <h4>Certification</h4>
          <p>
            Phasellus sollicitudin et nunc eu efficitur. Sed ligula nulla,
            molestie quis ligula in, eleifend rhoncus ipsum. Donec ultrices, sem
            vel efficitur molestie, massa nisl posuere ipsum, ut vulputate
            mauris ligula a metus. Aenean vel congue diam, sed bibendum ipsum.
            Nunc vulputate aliquet tristique. Integer et pellentesque urna.
            Lorem ipsum dolor sit amet, consectetur. Phasellus sollicitudin et
            nunc eu efficitur. Sed ligula nulla, molestie quis ligula in,
            eleifend rhoncus ipsum. Donec ultrices, sem vel efficitur molestie,
            massa nisl posuere ipsum.
          </p>
        </div>
        <div class="cl-item">
          <h4>The Instructor</h4>
          <p>
            Sed ligula nulla, molestie quis ligula in, eleifend rhoncus ipsum.
            Donec ultrices, sem vel efficitur molestie, massa nisl posuere
            ipsum, ut vulputate mauris ligula a metus. Aenean vel congue diam,
            sed bibendum ipsum. Nunc vulputate aliquet tristique. Integer et
            pellentesque urna. Lorem ipsum dolor sit amet, consectetur.
            Phasellus sollicitudin et nunc eu efficitur. Sed ligula nulla,
            molestie quis ligula in, eleifend rhoncus ipsum. Donec ultrices, sem
            vel efficitur molestie, massa nisl posuere ipsum, ut vulputate
            mauris ligula a metus.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- single course section end -->

<!-- Page -->
<section class="categories-section spad">
  <div class="container">
    <div class="section-title">
      <h2>Available Resources</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada
        lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula
        sapien. Suspendisse cursus faucibus finibus.
      </p>
    </div>
    <div class="row">
      {% for Resource in ResourceInfo %}
      <!-- categorie -->
      <div class="col-lg-4 col-md-6">
        <div class="categorie-item">
          <div
            class="ci-thumb set-bg"
            data-setbg="/static/img/categories/1.jpg"
          ></div>
          <div class="ci-text">
            <a href="courses"><h5>{{ Resource.RName }}</h5></a>
            <p>{{ Resource.RDescription }}</p>
            <a href="/download/{{ Resource.Rno }}"
              ><button class="site-btn btn-dark">Download</button></a
            >
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</section>
<!-- Page end -->

<!-- signup section -->
<section class="signup-section spad">
  <div class="signup-bg set-bg" data-setbg="/static/img/signup-bg.jpg"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="signup-warp">
          <div class="section-title text-white text-left">
            <h2>Upload Resource<br />for {{ Course.CCode }}</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              malesuada lorem maximus mauris scelerisque, at rutrum nulla
              dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.
            </p>
          </div>
          <!-- signup form -->
          <form
            class="signup-form"
            action="/uploader/{{ Course.CCode }}"
            method="post"
            enctype="multipart/form-data"
          >
            <input type="text" placeholder="Your Name" name="name" />
            <input type="text" placeholder="Resource Name" name="rname" />
            <input type="text" placeholder="Resource Description" name="rdes" />
            <input type="file" name="file1" class="site-btn btn-fade" />
            <button type="submit" class="site-btn mr-0 mb-0 mb-md-0">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- signup section end -->

{% endfor %} {% endblock %}
