{% extends "layout.html" %} {% block body %} {% for dept in DeptInfo %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ dept.Dname }}</li>
  </ol>
</nav>

<div class="container" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="row row-content">
    <div class="col-12">
      <img src="{{ dept.ImgLink }}" alt="" class="course-preview" />
    </div>
  </div>
  <div class="row row-content">
    <h1>{{ dept.Ddes }}</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur. Phasellus sollicitudin et nunc eu
      efficitur. Sed ligula nulla, molestie quis ligula in, eleifend rhoncus
      ipsum. Donec ultrices, sem vel efficitur molestie, massa nisl posuere
      ipsum, ut vulputate mauris ligula a metus. Aenean vel congue diam, sed
      bibendum ipsum. Nunc vulputate aliquet tristique. Integer et pellentesque
      urna. Lorem ipsum dolor sit amet, consectetur. Phasellus sollicitudin et
      nunc eu efficitur. Sed ligula nulla, molestie quis ligula in, eleifend
      rhoncus ipsum.
    </p>
  </div>
  <div class="row row-content">
    <h4>Certification</h4>
    <p>
      Phasellus sollicitudin et nunc eu efficitur. Sed ligula nulla, molestie
      quis ligula in, eleifend rhoncus ipsum. Donec ultrices, sem vel efficitur
      molestie, massa nisl posuere ipsum, ut vulputate mauris ligula a metus.
      Aenean vel congue diam, sed bibendum ipsum. Nunc vulputate aliquet
      tristique. Integer et pellentesque urna. Lorem ipsum dolor sit amet,
      consectetur. Phasellus sollicitudin et nunc eu efficitur. Sed ligula
      nulla, molestie quis ligula in, eleifend rhoncus ipsum. Donec ultrices,
      sem vel efficitur molestie, massa nisl posuere ipsum.
    </p>
  </div>
  <div class="row row-content">
    <h4>The Instructor</h4>
    <p>
      Sed ligula nulla, molestie quis ligula in, eleifend rhoncus ipsum. Donec
      ultrices, sem vel efficitur molestie, massa nisl posuere ipsum, ut
      vulputate mauris ligula a metus. Aenean vel congue diam, sed bibendum
      ipsum. Nunc vulputate aliquet tristique. Integer et pellentesque urna.
      Lorem ipsum dolor sit amet, consectetur. Phasellus sollicitudin et nunc eu
      efficitur. Sed ligula nulla, molestie quis ligula in, eleifend rhoncus
      ipsum. Donec ultrices, sem vel efficitur molestie, massa nisl posuere
      ipsum, ut vulputate mauris ligula a metus.
    </p>
  </div>
</div>

<div class="container" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="row row-content">
    <div class="col-12" style="text-align: center;">
      <h1>Available Courses</h1>
    </div>
  </div>
  <div class="row row-content">
    {% for Course in DeptCourse %}
    <div class="col-6 col-md-4">
      <div class="card card-dept">
        <a href="/course/{{ Course.CCode }}">
          <div class="card-body">
            <h5 class="card-title">{{ Course.CCode }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ Course.Cname }}</h6>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %} {% endblock %}
