{% extends "layout.html" %} {% block body %}

<div class="jumbotron jumbotron-fluid jumbo-index"
  style="background-image: url({{ url_for('static', filename ='img/background.jpg') }}); background-size: cover;">
  <div class="container">
    <div class="hero-text">
      <h1>Notes and Resourses</h1>
      <h3>Get help from Seniors</h3>
      <p>
        This postal provides you with the books, notes and other resourses put
        up by your seniors
      </p>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 100px; margin-bottom: 100px;">
  <div class=" row row-section1">
    <div class="col">
      <h1>Departments</h1>
    </div>
  </div>
  <div class="row row-section1">
    <div class="col">
      <p>Browse through your Department</p>
    </div>
  </div>
  <div class="row">
    {% for department in Departments %}
    <div class="col-12 col-md-6">
      <a href="Dept/{{ department.Dname }}">
        <div class="card-section1" id="card-section1">
          <img src="{{ department.ImgLink }}" />
          <h3>{{ department.Ddes }}</h3>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}