<!DOCTYPE html>
<html lang="en">

<head>
	<title>Resourse Sharing</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="{{ url_for('static', filename ='img/favicon.ico') }}" rel="shortcut icon" />

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
		rel="stylesheet">

	<!-- Stylesheets -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename ='css/style.css') }}" />


</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="#"><img src="{{ url_for('static', filename ='img/logo.png') }}" height="75"
				width="75"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 18px;">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Departments
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						{% for department in Departments %}
						<a class="dropdown-item" href="/Dept/{{ department.Dname }}">{{ department.Ddes }}</a>
						{% endfor %}
					</div>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
			</ul>

			{% if current_user.is_authenticated %}
			<ul class="navbar-nav mr-5 order-3">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ current_user.Username }}
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/logout">Log Out</a>
					</div>
				</li>
			</ul>
			{% endif %}

			{% if not current_user.is_authenticated %}
			<div class="order-3">
				<a href="login" class="btn btn-primary" data-toggle="modal" data-target="#LoginModal">Login</a>
				<a href="signup" class="btn btn-secondary" data-toggle="modal" data-target="#SignupModal">SignUp</a>
			</div>
			{% endif %}

		</div>
	</nav>


	<!-- Log in Modal -->
	<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Log In</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="/login" method="post">
						<div class="form-group">
							<label for="Usename">Username</label>
							<input type="text" class="form-control" id="Username" name="username"
								placeholder="Enter Username">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Password</label>
							<input type="password" class="form-control" id="exampleInputPassword1" name="password"
								placeholder="Password">
						</div>

						<button type="submit" class="btn btn-primary">Sign In</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Sign up Modal -->
	<div class="modal fade" id="SignupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="exampleModalLongTitle">Sign Up</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>

				</div>
				<div class="modal-body">
					<form action="/signup" method="post">
						<div class="form-group">

							<label for="Usename">Username</label>
							<input type="text" class="form-control" id="Username" name="username"
								aria-describedby="emailHelp" placeholder="Enter Username">

						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-6">
									<label for="FirstName">First Name</label>
									<input type="text" class="form-control" id="FirstName" name="firstname"
										aria-describedby="emailHelp" placeholder="Enter FirstName">
								</div>
								<div class="col-6">
									<label for="LastName">Last Name</label>
									<input type="text" class="form-control" id="LastName" name="lastname"
										aria-describedby="emailHelp" placeholder="Enter LastName">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="Email">Email address</label>
							<input type="email" class="form-control" id="Email" aria-describedby="emailHelp"
								name="email" placeholder="Enter email">
						</div>
						<div class="form-group">
							<label for="Password">Password</label>
							<input type="password" class="form-control" id="Password" name="password"
								placeholder="Password">
						</div>
						<div class="form-group">
							<label for="CnfPassword">Confirm Password</label>
							<input type="password" class="form-control" id="CnfPassword" name="cnfpassword"
								placeholder="Confirm Password">
						</div>

						<button type="submit" class="btn btn-primary">Sign Up</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	{% block body %} {% endblock %}





	<footer class="footer bg-dark" style="padding-top: 40px;">
		<div class="container text-white">
			<div class="row">
				<div class="col-12 col-md-4">
					<h5 class="py-1">Links</h5>
					<ul class="list-unstyled">
						<li class="py-1"><a class="a-dark-bg" href="/">Home</a></li>
					</ul>
				</div>
				<div class="col-12 col-md-4">
					<h5 class="py-1">Departments</h5>
					<ul class="list-unstyled">
						{% for department in Departments %}
						<li class="py-1"><a class="a-dark-bg"
								href="/Dept/{{ department.Dname }}">{{ department.Ddes }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-12 col-sm-4 align-self-center">
					<div class="text-center">
						<a class="btn btn-social-icon btn-google" href="http://google.com/+"><i
								class="fa fa-google-plus"></i></a>
						<a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i
								class="fa fa-facebook"></i></a>
						<a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i
								class="fa fa-linkedin"></i></a>
						<a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i
								class="fa fa-twitter"></i></a>
						<a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i
								class="fa fa-youtube"></i></a>
						<a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>








	<!--====== Javascripts & Jquery ======-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</html>