{% extends "layout.html" %} {% block body %}
{% load static %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            Search
        </li>
    </ol>
</nav>

<div class="container" style="margin-top: 100px; margin-bottom: 50px;">
    <div class="row bg-dark">
        <div class="col-12" style="text-align: center;">
            <h2 class="text-white mt-5 display-4">Search your course</h2>
        </div>
        <div class="col-12">
            <div class="m-4 bg-light">
                <form class="p-5" action="/crssrch" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-md-8" style="text-align: center;">
                            <input type="text" class="form-control" id="ccode" name="ccode"
                                placeholder="Enter Course" />
                        </div>
                        <div class="form-group col-md-4" style="text-align: center;">
                            <button type="submit" class="btn btn-dark">Search Course</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #E9ECEF; padding-top: 30px; padding-bottom: 100px;">
    <div class="container">
        <div class="row">
            {% if result %}

            <div class="col-12 my-5" style="text-align: center;">
                <h1>Search Results</h1>
            </div>
            {% for crs in crsresult %}
            <div class="col-12 col-md-4">
                <div class="card card-dept">
                    <a href="/course/{{ crs.CCode }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ crs.CCode }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ crs.CName }}</h6>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}

            {% endif %}

            {% if not result %}

            <div class="col-12 my-5" style="text-align: center;">
                <h2> Unfortunately No Matching Results</h2>
            </div>

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}